{% extends 'base.html' %}

{% block header %}
<div class="jumbotron border rounded bg-light container-sm my-4 px-3 py-3">
  <h1 class="display-5">{% block title %}Voluntron{% endblock %}</h1>
  <p class="fs-5 jumbotron-desc">Voluntron connects those in need to those with the means. No, we're not communists, but we believe in <a class="link-secondary" target="_blank" href="https://www.effectivealtruism.org/">effective altruism</a>, and the power of small contributions from those with privilege to those without.</p>
</div>
{% endblock %}

{% block content %}
{% endblock %}
