{% extends 'base.html' %}

{% block header %}
<div class="banner short-banner">
  <div class="banner-img"></div>
  <div class="jumbotron jumbotron-banner banner-content container-sm my-4 px-3 py-3 text-light">
    <h1 class="display-5">{% block title %}Register{% endblock %}</h1>
    <p class="fs-5 jumbotron-desc">Become a volunteer and start contributing to your community today!</p>
  </div>
</div>
{% endblock %}

{% block content %}
<form method="post" class="my-4" style="width: 60vw; margin: auto;">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" id="name" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else. Except for anyone who visits our website. So they can contact you to get your volunteerage.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password" aria-describedby="passwordHelp" required>
    <div id="passwordHelp" class="form-text">It's probably secure, but no promises. Don't repeat passwords.</div>
  </div>
  <div class="mb-3">
    <label for="bio" class="form-label">Bio</label>
    <textarea name="bio" id="bio" cols="30" rows="10" class="form-control"
      placeholder="A short explanation of yourself and your experience" aria-describedby="bioHelp"></textarea>
    <div id="bioHelp" class="form-text">Pro tip: load up on keywords like 'math', 'science', or 'language', and avoid negatory statements (e.g. 'I hate teaching piano') which our matching algorithm sees as positive.</div>
  </div>
  <div class="mb-3">
    <label for="link" class="form-label">Scheduling Link (optional)</label>
    <input name="link" type="url" id="link" class="form-control" placeholder="https://cal.com/your-name" aria-describedby="linkHelp">
    <div id="linkHelp" class="form-text">If you use a service like Calendly or Cal.com, add your link here so voluntees
      can schedule a time to meet with you.</div>
  </div>

  <button type="submit" class="btn btn-outline-secondary">Register</button>
</form>
{% endblock %}